HTML:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Estonia COVID Stats</title>
</head>
<body>

    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">Estonia</a>
        </nav>
        <div class="row" style="margin: 0;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">2/27/20</th>
                    <th scope="col">9/29/20</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">New daily cases</th>
                    <td>1</td>
                    <td>48</td>
                  </tr>
                  <tr>
                    <th scope="row">Total cases</th>
                    <td>1</td>
                    <td>3315</td>
                  </tr>
                  <tr>
                    <th scope="row">Total recoveries</th>
                    <td>0</td>
                    <td>1880</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

    
    
   
     
</body>
</html>
